
* {
  font-family: 'MaisonNeue', sans-serif;
  font-size: 1.7rem;
}

.sidebar__introduction-title a {
  color: #eee;
  font-family: 'Michroma';
  font-size: 2.5rem;
}
.post__content h1 {
  font-family: 'Michroma';
  font-size: 2.8rem;
  color: #d2d7d7;
  line-height: 1;
}

.post__content h2 {
  font-family: 'Michroma';
  font-size: 2.3rem;
  color: #d2d7d7;
}

.post__content h3 {
  font-family: 'Michroma';
  font-size: 1.9rem;
  color: #d2d7d7;
}
