
.body.theme--dark {
  color: #93a1a1;
  background-color: #152028;
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/inconsolata-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inconsolata-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  font-family: Inconsolata;
  font-size: 1.6rem;
}

.sidebar__introduction-title a {
  font-family: Eurostile;
  font-size: 3.0rem;
}

.post__content h1 {
  font-family: Eurostile;
  font-size: 3.6rem;
  letter-spacing: 1px;
  line-height: 1;
}